  <section id="habilidades" class="py-16 max-w-4xl m-auto relative">
    <h2 class="text-4xl font-bold mb-10 text-center">Habilidades</h2>
    <div>
      <ul class="flex flex-wrap gap-6 justify-center">
        <li
          class="stack relative group p-4 rounded-2xl cursor-pointer hover:border-[var(--background-icon)] hover:border-2"
          [style.--background-icon]="'#EF652A'"
        >
          <span class="icon icon-html"></span>
          <div
            class="border-[var(--background-icon)] border-2 text-[var(--background-icon)] p-4 absolute -top-10 left-1/2 -translate-x-1/2 opacity-0 group-hover:opacity-100 transition bg-black text-sm px-2 py-1 rounded shadow-lg whitespace-nowrap"
          >
            HTML
          </div>
        </li>
        <li
          class="stack relative group p-4 rounded-2xl cursor-pointer hover:border-[var(--background-icon)] hover:border-2"
          [style.--background-icon]="'#30A9DC'"
        >
          <span class="icon icon-css"></span>
          <div
            class="border-[var(--background-icon)] border-2 text-[var(--background-icon)] p-4 absolute -top-10 left-1/2 -translate-x-1/2 opacity-0 group-hover:opacity-100 transition bg-black text-sm px-2 py-1 rounded shadow-lg whitespace-nowrap"
          >
            CSS
          </div>
        </li>
        <li
          class="stack relative group p-4 rounded-2xl cursor-pointer hover:border-[var(--background-icon)] hover:border-2"
          [style.--background-icon]="'#F0DB4F'"
        >
          <span class="icon icon-js"></span>
          <div
            class="border-[var(--background-icon)] border-2 text-[var(--background-icon)] p-4 absolute -top-10 left-1/2 -translate-x-1/2 opacity-0 group-hover:opacity-100 transition bg-black text-sm px-2 py-1 rounded shadow-lg whitespace-nowrap"
          >
            JavaScript
          </div>
        </li>
        <li
          class="stack relative group p-4 rounded-2xl cursor-pointer hover:border-[var(--background-icon)] hover:border-2"
          [style.--background-icon]="'#3178C6'"
        >
          <span class="icon icon-ts"></span>
          <div
            class="border-[var(--background-icon)] border-2 text-[var(--background-icon)] p-4 absolute -top-10 left-1/2 -translate-x-1/2 opacity-0 group-hover:opacity-100 transition bg-black text-sm px-2 py-1 rounded shadow-lg whitespace-nowrap"
          >
            TypeScript
          </div>
        </li>
        <li
          class="stack relative group p-4 rounded-2xl cursor-pointer hover:border-[var(--background-icon)] hover:border-2"
          [style.--background-icon]="'#9000f8'"
        >
          <span class="icon icon-bootstrap"></span>
          <div
            class="border-[var(--background-icon)] border-2 text-[var(--background-icon)] p-4 absolute -top-10 left-1/2 -translate-x-1/2 opacity-0 group-hover:opacity-100 transition bg-black text-sm px-2 py-1 rounded shadow-lg whitespace-nowrap"
          >
            Bootstrap
          </div>
        </li>
        <li
          class="stack relative group p-4 rounded-2xl cursor-pointer hover:border-[var(--background-icon)] hover:border-2"
          [style.--background-icon]="'#17BAB8'"
        >
          <span class="icon icon-tailwind"></span>
          <div
            class="border-[var(--background-icon)] border-2 text-[var(--background-icon)] p-4 absolute -top-10 left-1/2 -translate-x-1/2 opacity-0 group-hover:opacity-100 transition bg-black text-sm px-2 py-1 rounded shadow-lg whitespace-nowrap"
          >
            TailwindCSS
          </div>
        </li>
        <li
          class="stack relative group p-4 rounded-2xl cursor-pointer hover:border-[var(--background-icon)] hover:border-2"
          [style.--background-icon]="'#f42929'"
        >
          <span class="icon icon-angular"></span>
          <div
            class="border-[var(--background-icon)] border-2 text-[var(--background-icon)] p-4 absolute -top-10 left-1/2 -translate-x-1/2 opacity-0 group-hover:opacity-100 transition bg-black text-sm px-2 py-1 rounded shadow-lg whitespace-nowrap"
          >
            Angular
          </div>
        </li>
        <li
          class="stack relative group p-4 rounded-2xl cursor-pointer hover:border-[var(--background-icon)] hover:border-2"
          [style.--background-icon]="'#00D8FF'"
        >
          <span class="icon icon-react"></span>
          <div
            class="border-[var(--background-icon)] border-2 text-[var(--background-icon)] p-4 absolute -top-10 left-1/2 -translate-x-1/2 opacity-0 group-hover:opacity-100 transition bg-black text-sm px-2 py-1 rounded shadow-lg whitespace-nowrap"
          >
            React
          </div>
        </li>
        <li
          class="stack relative group p-4 rounded-2xl cursor-pointer hover:border-[var(--background-icon)] hover:border-2"
          [style.--background-icon]="'#764ABC'"
        >
          <span class="icon icon-redux"></span>
          <div
            class="border-[var(--background-icon)] border-2 text-[var(--background-icon)] p-4 absolute -top-10 left-1/2 -translate-x-1/2 opacity-0 group-hover:opacity-100 transition bg-black text-sm px-2 py-1 rounded shadow-lg whitespace-nowrap"
          >
            Redux
          </div>
        </li>
        <li
          class="stack relative group p-4 rounded-2xl cursor-pointer hover:border-[var(--background-icon)] hover:border-2"
          [style.--background-icon]="'#F6009C'"
        >
          <span class="icon icon-graphql"></span>
          <div
            class="border-[var(--background-icon)] border-2 text-[var(--background-icon)] p-4 absolute -top-10 left-1/2 -translate-x-1/2 opacity-0 group-hover:opacity-100 transition bg-black text-sm px-2 py-1 rounded shadow-lg whitespace-nowrap"
          >
            Graphql
          </div>
        </li>
        <li
          class="stack relative group p-4 rounded-2xl cursor-pointer hover:border-[var(--background-icon)] hover:border-2"
          [style.--background-icon]="'#539E43'"
        >
          <span class="icon icon-node"></span>
          <div
            class="border-[var(--background-icon)] border-2 text-[var(--background-icon)] p-4 absolute -top-10 left-1/2 -translate-x-1/2 opacity-0 group-hover:opacity-100 transition bg-black text-sm px-2 py-1 rounded shadow-lg whitespace-nowrap"
          >
            NodeJS
          </div>
        </li>
        <li
          class="stack relative group p-4 rounded-2xl cursor-pointer hover:border-[var(--background-icon)] hover:border-2"
          [style.--background-icon]="'#FAFAFA'"
        >
          <span class="icon icon-express"></span>
          <div
            class="border-[var(--background-icon)] border-2 text-[var(--background-icon)] p-4 absolute -top-10 left-1/2 -translate-x-1/2 opacity-0 group-hover:opacity-100 transition bg-black text-sm px-2 py-1 rounded shadow-lg whitespace-nowrap"
          >
            ExpressJS
          </div>
        </li>

        <li
          class="stack relative group p-4 rounded-2xl cursor-pointer hover:border-[var(--background-icon)] hover:border-2"
          [style.--background-icon]="'#00ee49'"
        >
          <span class="icon icon-vue"></span>
          <div
            class="border-[var(--background-icon)] border-2 text-[var(--background-icon)] p-4 absolute -top-10 left-1/2 -translate-x-1/2 opacity-0 group-hover:opacity-100 transition bg-black text-sm px-2 py-1 rounded shadow-lg whitespace-nowrap"
          >
            Vue
          </div>
        </li>
        <li
          class="stack relative group p-4 rounded-2xl cursor-pointer hover:border-[var(--background-icon)] hover:border-2"
          [style.--background-icon]="'#eaff21'"
        >
          <span class="icon icon-pinia"></span>
          <div
            class="border-[var(--background-icon)] border-2 text-[var(--background-icon)] p-4 absolute -top-10 left-1/2 -translate-x-1/2 opacity-0 group-hover:opacity-100 transition bg-black text-sm px-2 py-1 rounded shadow-lg whitespace-nowrap"
          >
            Pinia
          </div>
        </li>
        <li
          class="stack relative group p-4 rounded-2xl cursor-pointer hover:border-[var(--background-icon)] hover:border-2"
          [style.--background-icon]="'#268217'"
        >
          <span class="icon icon-vuex"></span>
          <div
            class="border-[var(--background-icon)] border-2 text-[var(--background-icon)] p-4 absolute -top-10 left-1/2 -translate-x-1/2 opacity-0 group-hover:opacity-100 transition bg-black text-sm px-2 py-1 rounded shadow-lg whitespace-nowrap"
          >
            Vuex
          </div>
        </li>
        <li
          class="stack relative group p-4 rounded-2xl cursor-pointer hover:border-[var(--background-icon)] hover:border-2"
          [style.--background-icon]="'#f7581d'"
        >
          <span class="icon icon-laravel"></span>
          <div
            class="border-[var(--background-icon)] border-2 text-[var(--background-icon)] p-4 absolute -top-10 left-1/2 -translate-x-1/2 opacity-0 group-hover:opacity-100 transition bg-black text-sm px-2 py-1 rounded shadow-lg whitespace-nowrap"
          >
            Laravel
          </div>
        </li>
          <li
          class="stack relative group p-4 rounded-2xl cursor-pointer hover:border-[var(--background-icon)] hover:border-2"
          [style.--background-icon]="'#dc9630'"
        >
          <span class="icon icon-codeigniter"></span>
          <div
            class="border-[var(--background-icon)] border-2 text-[var(--background-icon)] p-4 absolute -top-10 left-1/2 -translate-x-1/2 opacity-0 group-hover:opacity-100 transition bg-black text-sm px-2 py-1 rounded shadow-lg whitespace-nowrap"
          >
            Codeigniter
          </div>
        </li>
         <li
          class="stack relative group p-4 rounded-2xl cursor-pointer hover:border-[var(--background-icon)] hover:border-2"
          [style.--background-icon]="'#00b3ff'"
        >
          <span class="icon icon-android"></span>
          <div
            class="border-[var(--background-icon)] border-2 text-[var(--background-icon)] p-4 absolute -top-10 left-1/2 -translate-x-1/2 opacity-0 group-hover:opacity-100 transition bg-black text-sm px-2 py-1 rounded shadow-lg whitespace-nowrap"
          >
            Android Studio
          </div>
        </li>
                 <li
          class="stack relative group p-4 rounded-2xl cursor-pointer hover:border-[var(--background-icon)] hover:border-2"
          [style.--background-icon]="'#ffedb2'"
        >
          <span class="icon icon-java"></span>
          <div
            class="border-[var(--background-icon)] border-2 text-[var(--background-icon)] p-4 absolute -top-10 left-1/2 -translate-x-1/2 opacity-0 group-hover:opacity-100 transition bg-black text-sm px-2 py-1 rounded shadow-lg whitespace-nowrap"
          >
            Java
          </div>
        </li>
         <li
          class="stack relative group p-4 rounded-2xl cursor-pointer hover:border-[var(--background-icon)] hover:border-2"
          [style.--background-icon]="'#8f7de8'"
        >
          <span class="icon icon-php"></span>
          <div
            class="border-[var(--background-icon)] border-2 text-[var(--background-icon)] p-4 absolute -top-10 left-1/2 -translate-x-1/2 opacity-0 group-hover:opacity-100 transition bg-black text-sm px-2 py-1 rounded shadow-lg whitespace-nowrap"
          >
            PHP
          </div>
        </li>
        <li
          class="stack relative group p-4 rounded-2xl cursor-pointer hover:border-[var(--background-icon)] hover:border-2"
          [style.--background-icon]="'#DE4C36'"
        >
          <span class="icon icon-git"></span>
          <div
            class="border-[var(--background-icon)] border-2 text-[var(--background-icon)] p-4 absolute -top-10 left-1/2 -translate-x-1/2 opacity-0 group-hover:opacity-100 transition bg-black text-sm px-2 py-1 rounded shadow-lg whitespace-nowrap"
          >
            Git
          </div>
        </li>
      </ul>
    </div>
  </section>
