  <section id="experiencia" class="py-16 max-w-5xl m-auto">
    <div class="flex flex-col mb-8">
      <h2 class="text-4xl font-bold mb-4 text-center">Experiencia</h2>
      <p
        class="text-amber-200 rounded-2xl border-2 border-solid border-amber-200 p-3 m-auto text-center w-auto text-[12px]"
      >
        Disponible para trabajar
      </p>
    </div>
    <div
      class="relative animated-border-dot rounded-2xl border-solid border-[2px] border-amber-100 transition duration-600 hover:border-amber-600 p-8 bg-[rgba(255,255,255,0.05)] leading-7 mb-5"
    >
      <div>
        <div class="flex flex-row items-center mb-4">
          <img
            src="assets/logo_empresas/logo_phinet.png"
            alt="phinet"
            class="w-[100px] h-[55px]"
          />
          <span class="text-[#c2c6da] text-xl ms-5 font-bold">
            Diseñador y Programador Web FullStack
          </span>
        </div>

        <div>
          <p class="text-[#c2c6da]">
            <span></span> Noviembre 2022 - Octubre 2023
          </p>

          <div class="py-5 ps-4">
            <ul
              class="list-disc list-inside space-y-2 text-[#c2c6da] text-base text-justify"
            >
              <li>
                Desarrollador Full Stack con experiencia en aplicaciones
                modernas utilizando tecnologías de frontend y backend.
              </li>
              <li>Desarrollo integral de aplicaciones modernas full stack</li>
              <li>
                Gestión eficiente y segura de bases de datos con PostgreSQL
              </li>
              <li>Creación de interfaces dinámicas con Angular y TypeScript</li>
              <li>
                Desarrollo de lógica de negocio usando Node.js y TypeScript
              </li>
              <li>Mejora de la eficiencia y legibilidad del código backend</li>
              <li>
                Integración fluida de servicios externos mediante API REST
              </li>
              <li>Comunicación efectiva entre componentes de la aplicación</li>
            </ul>
          </div>
        </div>
        <div>
          <p class="text-[#c2c6da]">
            <span>Marzo 2022 - Setiembre 2022 </span>
          </p>

          <div class="py-5 ps-4">
            <ul
              class="list-disc list-inside space-y-2 text-[#c2c6da] text-base"
            >
              <li>Participación en proyectos de software libre.</li>
              <li>Uso de bases de datos MySQL para la gestión de datos.</li>
              <li>Utilización de PHP y JavaScript para el desarrollo web.</li>
              <li>
                Creación de sitios web funcionales y fáciles de usar mediante
                maquetados HTML.
              </li>
              <li>
                Actualización ,detección y corrección de fallos en sistemas
                existentes.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div
      class="relative animated-border-dot rounded-2xl border-solid border-[2px] border-amber-100 transition duration-600 hover:border-amber-600 p-8 bg-[rgba(255,255,255,0.05)] leading-7"
    >
      <div>
        <div class="flex flex-row items-center mb-4">
          <img
            src="assets/logo_empresas/freelancer.png"
            alt="phinet"
            class="w-[100px] h-[100px]"
          />
          <span class="text-[#c2c6da] text-xl ms-5 font-bold"> Freelance </span>
        </div>
        <div>
          <p class="text-[#c2c6da]">
            <span>
              <span class="font-bold"></span> Noviembre 2023 - Actualidad</span
            >
          </p>

          <div class="py-5 ps-4">
            <ul
              class="list-disc list-outside space-y-2 text-[#c2c6da] text-base"
            >
              <li>
                Como desarrollador freelance, desempeñé un papel integral en el
                desarrollo de aplicaciones combinando
                de tecnologías de frontend y backend.
              </li>
              <li>
                Implementé y gestioné bases de datos utilizando PostgreSQL y
                MySQL, asegurando un almacenamiento eficiente y seguro de los
                datos.
              </li>
              <li>
                En el frontend, utilizé tecnologías como Angular, ReactJS y
                TypeScript para crear interfaces de usuario dinámicas y
                mantenibles.
              </li>
              <li>
                En el backend, trabajé en Node.js y TypeScript para desarrollar la
                lógica de negocio, mejorando la eficiencia y legibilidad del
                código.
              </li>
              <li>
                Realizé la integración de servicios externos a través de API
                REST, garantizando una comunicación fluida y efectiva entre los
                diferentes componentes de la aplicación.
              </li>
              <li>
                Mi enfoque está siempre orientado a ofrecer soluciones
                escalables, seguras y de alta calidad.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
