@import "tailwindcss";
@plugin '@midudev/tailwind-animations';
/* @font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Oswald.woff2") format("woff2");
} */
body {
  @apply bg-[#090c1a] text-white;
}
.custom-shadow::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  z-index: -1;
  top: 48%;
  left: 48%;
  width: 2%;
  height: 2%;
  transition: box-shadow 0.3s ease;
}

.custom-shadow:hover::before {
  box-shadow: 0 0 40px 20px #fff6;
}
.glow {
  position: absolute;
  top: 15em;
  left: 50%;
  width: 40em;
  max-width: 100%;
  height: 20em;
  border-radius: 30%;
  display: block;
  background: radial-gradient(#060846aa 20%, #d886c455 100%);
  transform: translate(-50%);
  will-change: transform;
  filter: blur(100px);
  z-index: -1;
}
.glow-proyectos{
  position: absolute;
    top: 20em;
    left: 50%;
    width: 40em;
    max-width: 100%;
    height: 20em;
    border-radius: 30%;
    display: block;
    background: radial-gradient(#198ba4aa 20%, #198ba455 100%);
    transform: translate(-50%);
    will-change: transform;
    filter: blur(100px);
    z-index: -1;
}
.animated-border-dot:hover::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #facc15; /* amber-400 */
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  animation: border-travel 6s linear infinite;
  z-index: 10;
      background: #fc7e44;
  box-shadow: 0 0 10px 3px #f76927aa, 0 0 25px 6px #f7692788, 0 0 40px 10px #f7692733;
}

@keyframes border-travel {
  /* 0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 100%;
  }
  75% {
    top: 100%;
    left: 0%;
  }
  100% {
    top: 0;
    left: 0;
  } */
   0%{
       top: 0;
    left: 0;
   }
     25% {
    top: 100%;
    left: 0;
  }
  50% {
    top: 100%;
    left: 100%;
  }
  75% {
    top: 0;
    left: 100%;
  }
  100% {
    top: 0;
    left: 0;
  }
}
.stack{
  @apply relative w-[66px] h-[66px] flex justify-center items-center;
}
.stack:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 1em;
    backdrop-filter: blur(30px);
    z-index: -1;
}
.stack:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 35px 12px var(--background-icon);
    z-index: -2;
}
.stack:hover::after{
  box-shadow: 0 0 35px 20px var(--background-icon);
}
.icon{
      width: 40px;
    height: 32px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-html{
  background-image: url(assets/icons/icon-html.svg);
}
.icon-css{
  background-image: url(assets/icons/icon-css.svg);
}
.icon-js{
  background-image: url(assets/icons/icon-js.svg);
}
.icon-ts{
  background-image: url(assets/icons/icon-ts.svg);
}
.icon-bootstrap{
  background-image: url(assets/icons/icon-boostrap.svg);
}
.icon-tailwind{
  background-image: url(assets/icons/icon-tailwind.svg);
}
.icon-angular{
  background-image: url(assets/icons/icon-angular.svg);
}
.icon-react{
  background-image: url(assets/icons/icon-react.svg);
}
.icon-redux{
  background-image: url(assets/icons/icon-redux.svg);
}
.icon-graphql{
  background-image: url(assets/icons/icon-graphql.svg);
}
.icon-node{
  background-image: url(assets/icons/icon-node.svg);
}
.icon-express{
  background-image: url(assets/icons/icon-express.svg);
}
.icon-git{
  background-image: url(assets/icons/icon-git.svg);
}
.icon-vue{
  background-image: url(assets/icons/icon-vue.svg);
}
.icon-pinia{
  background-image: url(assets/icons/icon-pinia.svg);
}
.icon-vuex{
  background-image: url(assets/icons/icon-vuex.svg);
}
.icon-laravel{
  background-image: url(assets/icons/icon-laravel.svg);
}
.icon-codeigniter{
  background-image: url(assets/icons/icon-codeigniter.svg);
}
.icon-android{
  background-image: url(assets/icons/icon-android.svg);
}
.icon-php{
  background-image: url(assets/icons/icon-php.svg);
}
.icon-java{
  background-image: url(assets/icons/icon-java.svg);
}
.icon-facebook{
  background-image: url(assets/icons/icon-facebook.svg);

}



